<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
        <section>
            <figure style="position: absolute; left:450px ">
                <img src="images/404.jpg" alt="img" class="">
               <h1 style="position:fixed; left:650px">{{errorMsg}}</h1>
               <script>
                   alert('page Not Found!');
               </script>
            </figure>
        </section>
        {{>footer}}
</body>
</html>