<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="images/icon.png" type="image/png" />
    <link rel="stylesheet" href="./css/weather.css">
  </head>
  <body>
    
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          {{!-- <div class="row"> --}}
        {{!-- <div class="main_contain"> --}}
          
            <form class="temp_form">
                <input type="text" id="cityName"  autocomplete="off" placeholder="Enter your city name">
                <input type="submit" class="xx" value="search" id="submitBtn"/>
                <input type="submit" class="xx" value="Speak" id="audioBtn"/>
 
            </form>
        {{!-- </div> --}}
           
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="top_layer">Transleting</p>
                    <p id="today_date">13 oct</p>
                </div>
                <div class="main_layer ">
                    <p id="city_name"></p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span>0</span> <sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
          {{!-- </div> --}}
        </div>
      </div>
    </div>
<!-- footer code -->

   {{>footer}}


   <script src="js/main.js"></script>
   
  </body>
</html>
